<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/partials/registro.css">
    <title>registro</title>
</head>
<body>
   <header class="encabezado">
    <h2>¡REGISTRATE!</h2>

    <p>Vas a poder armar todo tu viaje, guardar en favoritos, recibir descuetos exclusivos y más...</p>
   </header>
   <section class="registrarse">
    
        <form action="" method="get">
    
           <label class="tag">Nombre:    </label>
           <input class="controls" type="text" id="nombre" placeholder="Ingrese su nombre.." name="nombre">
            
    
  
            <label class="tag">Apellido: </label>
            <input class="controls" type="text" id="apellido" placeholder="Ingrese su apellido..." name="apellido">
           
            <label class="tag">Email:     </label>
            <input class="controls" type="email" id="mail" name="mail" placeholder="Ingrese su email...">
            
   
            <label class="tag">Contraseña: </label>
            <input  class="controls" type="password"  id="password" placeholder="Ingrese su contraseña.." name="password">


            <label class="tag">Contraseña: </label></li>
            <input class="controls" type="password" id="password" placeholder="Ingrese nuevamente su contraseña..." name="password">
        
        
   
 
   <input class="botton" type="submit" value="cancelar"> 
  <input class="botton" type="submit" value="Registrarse">
    
    <p> <a href="#">¿Ya tengo cuenta?</a></p>
</form>
</section>


 <script></script>
</body>
</html>