
.main-formulario{
    height:100%;
    margin:0;
    padding:0;
    box-sizing:border-box;

    background-color:#9b97fb;
    font-family:'Poppins', sans-serif;
    font-size:12px;
    text-decoration-color: white;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align: center;
    

}
.main-formulario::before{content:url('/assets/form1');
    background: local;
    
    position:absolute; 
    top:10px;
    left:50px;
    right:50px;
    bottom:1000 ;
   

}
.main-formulario::after{content:url("/assets/form2");
    background: local;
    position:absolute; 
    top:0px;
    left:50px;
    right:50px;
    bottom:50 ;



}

.titulo-form .parraf{
 display:flex;
   flex-direction: column;
    text-align: center;
    color: white;
    position: relative;
    top:100px;
    font-size:15px;
    line-height:20px;
    background-color:white;
}

.tag
.titulo-form{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align: center;
    text-decoration-color: white;
    background-color: white;
}

.registrarse{
    width:355px;
    height:254px;
    color:white;
    padding:30px;
    margin: auto;
    margin-top:100px;
    border-radius:4px;
    font-family:'Poppins', sans-serif;
    text-decoration-color: white;

}
.registrarse .titulo-form {
    font-size:22px;
    margin-bottom:20px;
    border-bottom-style: groove;
    text-decoration-color: white;
}
.controls{
    width:100%;
    background-color:white ;
    padding:10px;
 border-radius:4 px;
 margin-bottom:16px;
 border: 1px solid #9b97fb;
 text-decoration-color: white;
}

.registrarse p{
    height:40px;
    text-align: center;
    text-decoration:none;
    line-height:40px;
}


.registrarse a:hover{
    color:white;
    text-decoration:underline;
  

}
.registrarse .botton {
    width:26%;
    border:none;
    background-color:#FF5678;
    padding:12px;
    color:white;
    margin:16px 0;
    font-size: 16px;
    border-radius:36px;
}

.botton{
    width:30;
    border-radius:40px;

}

input{
    border-radius:30px;
}





/*

.contenedor-principal{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}

#foto1,#foto2{
    width:400px;
    height:350px;

}*/

