.sobre-nosotros{
    height: 25em;
    width: 100%;
    background-color: var(--secundario-100);
    display: flex;
    justify-content:center;
    align-items: center;
}

.sobre-seccion-titulo{
    
}

.tags{
    display: flex;
}